{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<h1 class="ml-5 pt-4">Publications</h1>
<div class="row d-flex justify-content-center">
    <div class="col-11 mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="text-bold card-text"  style="color: #17a2b8">An empirical investigation of the World Happiness Report The effect of religiosity, suicide rate and human development</h5>
          <h6 class="card-text">Submitted to International Journal on Document Analysis and Recognition (IJDAR), 2024</h6>
        <p class="card-text">Recommended citation: A. K. Shah, B. M. Amador, A. Dey, M. Creekmore, B. Ocampo, S. Denmark, and R. Zanibbi, "ChemScraper: Graphics Extraction, Molecular Diagram Parsing, and Annotated Data Generation for PDF Images," in Document Analysis and Recognition (Journal) - IJDAR vol. 27, May. 2024, submitted.
        </p>
        <a href="/abc/" class="card-link text-bold" style="color: #17a2b8">[URL]</a>
        <a href="/abc/" class="card-link text-bold" style="color: #17a2b8">[PDF]</a>
        </div>
      </div>  
    </div>

    <div class="col-11 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="text-bold card-text"  style="color: #17a2b8">An empirical investigation of the World Happiness Report The effect of religiosity, suicide rate and human development</h5>
            <h6 class="card-text">Submitted to International Journal on Document Analysis and Recognition (IJDAR), 2024</h6>
          <p class="card-text">Recommended citation: A. K. Shah, B. M. Amador, A. Dey, M. Creekmore, B. Ocampo, S. Denmark, and R. Zanibbi, "ChemScraper: Graphics Extraction, Molecular Diagram Parsing, and Annotated Data Generation for PDF Images," in Document Analysis and Recognition (Journal) - IJDAR vol. 27, May. 2024, submitted.
          </p>
          <a href="/abc/" class="card-link text-bold" style="color: #17a2b8">[URL]</a>
          <a href="/abc/" class="card-link text-bold" style="color: #17a2b8">[PDF]</a>
          </div>
        </div>  
      </div>
  </div>
{% endblock content %}